<!DOCTYPE html>
<html>
<head>

    <title>index</title>

</head>
<body>
    <h2>Board Project TEST</h2>

    <p>HOME PAGE!!</p>
    <p><%=nickName%>님 환영합니다.</p>
    <input type="button" name="goBoard" value="게시판 이동" onclick="location.replace('/board/list')" disabled="true">&nbsp;&nbsp;
    <input type="button" name="goLogout" value="로그아웃" onclick="location.replace('/member/logoutPro')">
</body>
</html>