<!DOCTYPE html>
<html>
<head>

    <title>index</title>

</head>
<body>
    <h2>Board Project TEST</h2>

    <p>HOME PAGE!!</p>
    <input type="button" name="goBoard" value="게시판 이동" onclick="location.replace('/board/list')">&nbsp;&nbsp;
    <input type="button" name="goLogin" value="로그인" onclick="location.replace('/member')">
</body>
</html>