<!DOCTYPE html>
<html>
<head>

    <title>index</title>

</head>
<body>
    <h2>Board Project TEST</h2>
    <input type="button" name="goBoard" value="게시판 이동" onclick="location.replace('/board/list')">
</body>
</html>