<!DOCTYPE html>
<html>
<head>

    <title>LogIn</title>

</head>
<body>
    <h2>Board Project TEST</h2>
   
    <div style="text-align: center">
        <h3>로그인</h3>
        
        <form action="loginPro" method="POST">
            <p><input type="email" name="memberId" placeholder="이메일" required="required"></p>
            <p><input type="password" name="passwd" placeholder="비밀번호" required="required"></p>
            <p style="color: red"><%=message%></p>
            <a href="searchIdPw">이메일 / 비밀번호 찾기</a>
            
            <p><input type="submit" value="로그인"></p>
        </form>
        <p><input type="button" value="회원가입" onclick="location.replace('joinForm')"></p>
    </div>
</body>
</html>